In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('data/score.xlsx', index_col='지원번호')

In [6]:
df['합계'] = df['국어']+df['영어']+df['수학']

In [11]:
df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']

In [12]:
col = list(df.columns)  # list타입변경
type(col)
# df = df[]
df[[col[-1]]+col[0:-1]]
### list는 list + list 가능
### list str + list 불가
[col[-1]]+col[0:-1]

['합계', '이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기']

In [35]:
df

                 총인구수         세대수  세대당 인구      남자 인구수      여자 인구수  남여 비율
행정기관
전국         51,175,725  24,212,185    2.11  25,474,633  25,701,092   0.99
서울특별시       9,331,860   4,498,689    2.07   4,501,804   4,830,056   0.93
부산광역시       3,256,408   1,573,173    2.07   1,584,035   1,672,373   0.95
대구광역시       2,359,159   1,107,916    2.13   1,156,613   1,202,546   0.96
인천광역시       3,033,844   1,385,644    2.19   1,515,919   1,517,925   1.00
광주광역시       1,400,827     658,338    2.13     691,334     709,493   0.97
대전광역시       1,439,393     692,420    2.08     717,423     721,970   0.99
울산광역시       1,094,460     496,578    2.20     563,471     530,989   1.06
세종특별자치시       391,992     164,710    2.38     195,101     196,891   0.99
경기도        13,702,756   6,084,016    2.25   6,884,608   6,818,148   1.01
강원특별자치도     1,512,088     766,296    1.97     760,329     751,759   1.01
충청북도        1,590,735     791,497    2.01     810,131     780,604   1.04
충청남도        2,135,908   1,057,684    2.02   1,096,057   1,039,851   1.05
전북특별자치도     1,732,439     866,486    2.00     863,216     869,223   0.99
전라남도        1,785,003     914,302    1.95     901,278     883,725   1.02
경상북도        2,522,609   1,296,263    1.95   1,276,838   1,245,771   1.02
경상남도        3,218,731   1,543,107    2.09   1,622,833   1,595,898   1.02
제주특별자치도       667,513     315,066    2.12     333,643     333,870   1.00