In [40]:
import pandas as pd

w_df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx', skiprows=3, usecols='B, AC:AO', index_col='행정기관', nrows=1)
w_df

m_df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx', skiprows=3, usecols='B, R:AB', index_col='행정기관', nrows=1)
m_df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~9세.1,10~19세.1,20~29세.1,30~39세.1,40~49세.1,50~59세.1,60~69세.1,70~79세.1,80~89세.1,90~99세.1,100세 이상.1
행정기관,,,,,,,,,,,
전국,"1,609,060","2,373,758","3,100,524","3,457,978","3,926,120","4,391,271","3,850,559","1,931,802","778,170","77,557","1,525"

In [41]:
df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx', skiprows=3, usecols='B, E:O', index_col='행정기관', nrows=1)
df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
행정기관,,,,,,,,,,,
전국,"3,140,118","4,619,265","5,955,656","6,624,563","7,722,823","8,706,370","7,818,783","4,186,597","2,104,544","329,925","8,577"

In [42]:
df.columns      # 컬럼명 : '0~9세'
m_df.columns    # 컬럼명 : '0~9세.1'
w_df.columns    # 컬럼명 : '0~9세.2'

Index(['여 인구수', '연령구간인구수.2', '0~9세.2', '10~19세.2', '20~29세.2', '30~39세.2',
       '40~49세.2', '50~59세.2', '60~69세.2', '70~79세.2', '80~89세.2', '90~99세.2',
       '100세 이상.2'],
      dtype='object')

In [43]:
df['0~9세']
m_df['0~9세.1']
w_df['0~9세.2']

### 컬럼명 통일시켜서 출력하면 편리
## 컬럼명 변경
# 0-9세.1 -> 0-9세 변경
m_df.columns = df.columns
m_df.columns

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [46]:
m_df['0~9세']

행정기관
전국      1,609,060
Name: 0~9세, dtype: object